@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-s069q1');
  src:url('fonts/icomoon.eot?#iefix-s069q1') format('embedded-opentype'),
    url('fonts/icomoon.woff?-s069q1') format('woff'),
    url('fonts/icomoon.ttf?-s069q1') format('truetype'),
    url('fonts/icomoon.svg?-s069q1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  margin: 0.2rem;
  background-color: #EEEEEE;
}

header, main, aside, footer {
  display: block;
}

@media screen and (min-width: 601px) {
  .nav {
    width: 10rem;
    line-height: 2rem;
    top: 6.7rem;
    bottom: 2.2rem;
    margin: 0.1rem;
    position: fixed;
    right: 0px;
    left: 0px;
  }
  .command {
    font-size: 0.75rem;
    left: 10.2rem;
    right: 0;
    top: 4.3rem;
    height: 2.2rem;
    margin: 0.1rem 2rem 0.1rem 1rem;
    position: fixed;
  }
  .main {
    font-size: 0.75rem;
    left: 10.2rem;
    right: 0;
    top: 6.7rem;
    bottom: 2.2rem;
    margin: 0.1rem;
    position: fixed;
    overflow-x:hidden;
    overflow-y:scroll;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    top: 4.2rem;
    margin: 0.1rem;
    position: fixed;
    right: 0px;
    left: 0px;
  }
  .command {
    font-size: 0.75rem;
    left: 10.2rem;
    right: 0;
    top: 4.2rem;
    height: 2.2rem;
    margin: 0.1rem;
    position: fixed;
  }
  .main {
    font-size: 0.75rem;
    top: 6.6rem;
    bottom: 2.1rem;
    margin: 0.1rem;
    position: fixed;
    right: 0px;
    left: 0px;
    overflow-x:hidden;
    overflow-y:scroll;
  }
}

.menu-button {
  color: #5E5E5E;
  text-align: left;
  font-size: 1.1rem;
  border: 1px solid #433DA6;
  display: block;
  width: 10rem;
  height: 3rem;
  margin-bottom: 0.2rem;
  background: #D7ECFF;
  background-image: -webkit-linear-gradient(top, #D7ECFF, #B7DCFF);
  background-image: -moz-linear-gradient(top, #D7ECFF, #B7DCFF);
  background-image: -ms-linear-gradient(top, #D7ECFF, #B7DCFF);
  background-image: -o-linear-gradient(top, #D7ECFF, #B7DCFF);
  background-image: linear-gradient(to bottom, #D7ECFF, #B7DCFF);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding-left: 0.5rem;
  border: solid #433DA6 1px;
  text-decoration: none;
}
.menu-button:hover, .menu-button-active {
  background: #3B72A6;
  background-image: -webkit-linear-gradient(top, #3B72A6, #4B72A6);
  background-image: -moz-linear-gradient(top, #3B72A6, #4B72A6);
  background-image: -ms-linear-gradient(top, #3B72A6, #4B72A6);
  background-image: -o-linear-gradient(top, #3B72A6, #4B72A6);
  background-image: linear-gradient(to bottom, #3B72A6, #4B72A6);
  text-decoration: none;
  color: #eeeeee;
}

.header {
  background: #C9E4FF;
  height: 4rem;
  /*
  line-height: 4rem;
  text-align: left;
  vertical-align: middle;*/
  top: 0px;
  margin: 0.1rem;
  position: fixed;
  right: 0px;
  left: 0px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,1);
  border-bottom: 2px solid #3B72A6;
}

.footer {
  background: #3B72A6;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  bottom: 0px;
  margin: 0.2rem;
  position: fixed;
  right: 0px;
  left: 0px;
}
.header-icon {
  width: 9rem;
  padding-left: 1rem;
}
.header-title {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 0;
}
.header-cell {
  display:table-cell;
  height: 4rem;
  vertical-align: middle;
}
.command-cell {
  display:table-cell;
  height: 2rem;
  vertical-align: middle;
}
.credit {
  font-size: 0.75rem;
  color: #eeeeee;
}

.header-title a {
  color: #5E5E5E;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

.posting-view-config {
  padding: 0px 8px 15px 8px;
  width: 100%;
  text-align: right;
  margin-bottom: 18px;
}

.posting-sort-order {
  width: 170px;
  margin-right: 3px;
}

.posting-sort-order-frame {
  width: 152px;
}

.posting-table {
  padding: 3px 8px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.posting-table td {
  padding: 3px 8px;
}

.posting-title {
  font-weight: bolder;
  background-color: white;
}

.posting-rating {
  text-align: right;
  background-color: white;
}

.posting-descr {
  background-color: white;
  border-bottom: 6px solid #EEEEEE;
}

.rating-stars {
  font-family: "icomoon";
  color: #F4E324;
}

.icon-font {
  font-family: "icomoon";
  font-weight: bold;
  color: #c7254e;
}

#posting-credit-id, #posting-edit-id {
  margin-top: 50px;
}

.about-info {
  font-weight: bold;
  padding: 0px 0px 15px 0px;
}

.about-label {
  font-style: italic;
  padding: 0px 25px 15px 0px;
}

.posting-content {
  padding: 0 7px;
}

.content {
  display: flex;
}
